/* Error: expected "{".
 *    ,
 * 28 | $text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);CL
 *    |                                                ^
 *    '
 *   scss\utilities\_variables.scss 28:48  @import
 *   scss\style.scss 3:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 28 \2502  $text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);CL\a    \2502                                                 ^\a    \2575 \a   scss\\utilities\\_variables.scss 28:48  @import\a   scss\\style.scss 3:9                   root stylesheet';
}
