/*VARIABLES*/

//Fuentes
$font-family:'Chelsea Market';
$font-family-dos: 'Arial';
$main-title-font: 'Chelsea Market', 30px;


//Colores
$principal-color: #73B9D7;
$secondary-color: #FBD700;
$alternative-color: cornflowerblue;
$color-black: black;
$color-white: white;


//Tamaños
$title-font-size: 80px;
$main-title-actividades: 60px;
$parrafo-font-size: 30px;
$whatsapp-icon-size: 80px;
$whatsapp-icon-small-size: 40px;


//Sombras
$text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);