/* INDEX - ACTIVIDADES */

.title-actividades h2 {
    @include question-title (#FBD700, cornflowerblue, 'Chelsea Market', 80px);
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px 10px 20px 10px;
    background-image: linear-gradient(to right, $secondary-color, $secondary-color-two);
}

.section-actividades {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;

    div {
        flex: 1;
        margin: 0 10px;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
 
.actividad {
    position: relative;
    flex: 1;
    margin: 0 10px;
    overflow: hidden;

    img {
        display: flex;
        max-width: 100%;
        height: auto;
        transition: filter 0.3s ease-in-out;
    }
    
    &:hover img {
        opacity: 50%;
    }

    &:hover .actividad-titulo {
        opacity: 10;
    }
}
    
.actividad-titulo {
    @include titulo-foto (white, 'Chelsea Market', #FBD700);
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.grid-container-hacer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .title-actividades h2 {
        font-size: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .section-actividades {
        flex-direction: column;
    }

    .actividad {
        flex: 1;
        margin: 0 10px;
        overflow: hidden;
        width: 100%;

        img {
            max-width: 100%;
        }
    }

    .actividad-titulo {
        font-size: 30px;
    }

    .grid-container-hacer {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .title-actividades h2 {
        font-size: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .actividad-titulo {
        font-size: 24px;
        padding: 5px;
    }

    .grid-container-hacer {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
}

/* INDEX - GASTRONOMÍA */

.grid-container-comer {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 50px;
}

.title-gastronomia h2 {
    @include question-title (#FBD700, cornflowerblue, 'Chelsea Market', 80px);
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px 10px 20px 10px;
    background-image: linear-gradient(to right, $secondary-color, $secondary-color-two);
}

.section-gastronomia {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;

    div {
        flex: 1;
        margin: 0 10px;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
 
.gastronomia {
    position: relative;
    flex: 1;
    margin: 0 10px;
    overflow: hidden;

    img {
        display: flex;
        max-width: 100%;
        height: auto;
        transition: filter 0.3s ease-in-out;
    }

    &:hover img {
        opacity: 50%;
    }

    &:hover .gastronomia-titulo {
        opacity: 10;
    }
}

.gastronomia-titulo {
    @extend .actividad-titulo;
}

@media screen and (max-width: 768px) {
    .title-gastronomia h2 {
        font-size: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .section-gastronomia {
        flex-direction: column;
    }

    .gastronomia {
        flex: 1;
        margin: 0 10px;
        overflow: hidden;
        width: 100%;

        img {
            max-width: 100%;
        }
    }

    .grid-container-comer {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .title-gastronomia h2 {
        font-size: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .grid-container-comer {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
}