/* TAB NOSOTROS */

.grid-container-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
  
.grid-item2 {
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
}
 
@media (max-width: 767px) {
    .grid-container-nosotros {
      grid-template-columns: repeat(1, 1fr);
    }
}

