*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/abstract_hand_painted_beach_themed_watercolour_background_2705.jpg);
    background-size: cover;
}

